<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">
  <title>Portfolio</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <div class="col-xs-12 navbar-container">
    <div class="col-xs-6 left-navbar">
      <div class="col-xs-12 navbar-brand-container">
        <%= link_to 'Lawrence Chang', root_path, class: 'logo' %>
      </div>
    </div>
    <div class="col-xs-6 right-navbar">
      <button type="button" class="btn menu-btn col-xs-12" data-toggle="collapse" data-target="#menu" data-text-swap="&#9650; Menu">
        <span class="direction">&#9660;</span>
        <span>Menu</span>
      </button>
    </div>
  </div>

  <div class="col-xs-6 col-xs-offset-6 collapse" id="menu">
    <ul>
      <li class="menu-item"><%= link_to 'Code', code_path %></li>
      <li class="menu-item"><%= link_to 'Design', design_path %></li>
      <li class="menu-item"><%= link_to 'About', about_path %></li>
      <li class="menu-item"><%= link_to 'Contact', contact_path %></li>
    </ul>
    <br>
    <ul>
      <li class="menu-info-item"><%= image_tag('marker.png', class: 'marker-img') %> Orange County, CA.</li>
      <li class="menu-info-item"><%= image_tag('phone.png', class: 'phone-img') %> 714.787.9690</li>
      <li class="menu-info-item"><%= image_tag('email.png', class: 'email-img') %> lchangdev@gmail.com</li>
    </ul>
    <br>
    <ul>
      <li class="menu-info-item"><%= image_tag('twitter.png', class: 'twitter-img') %> @lc_uclakers</li>
      <li class="menu-info-item "><%= image_tag('github.svg', class: 'github-img') %> <a href="http://github.com/lchangdev", class="social-link">github</a></li>
      <li class="menu-info-item"><%= image_tag('linkedin.png', class: 'linkedin-img') %> <a href="http://linkedin/in/lchangdev", class="social-link">linkedin</a></li>
    </ul>
  </div>

  <div class="body-container">
    <%= yield %>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
